# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here
OWNER_ID=your_telegram_user_id_here

# Firebase Realtime Database Configuration
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY_ID=your-private-key-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your-service-account@appspot.gserviceaccount.com
FIREBASE_CLIENT_ID=your-client-id
FIREBASE_DB_URL=https://your-firebase-project-id.firebaseio.com
